body { 
   background-color:  rgb(182, 255, 182);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dancing Script', cursive;
  }

body.dark-theme {
  color: white;
  background-color: #121212;
}

p {
  font-size: 30px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

header {
  background-color: rgb(26, 70, 5);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(162, 221, 198);
}

body.dark-theme header {
  background-color: ghostwhite;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #121212;
}

body.dark-theme .menu div:hover {
  background-color: darksalmon;
  border-style: solid ;
}

body.dark-theme .menu div {
  background-color: #121212;
  font-size: larger;
  color: white;
  padding: 15px;
  border-style: solid ;
}

body.dark-theme footer {
  background-color: ghostwhite;
  padding: 10px;
  text-align: center;
  color: #121212;
}


footer {
  background-color: rgb(26, 70, 5);
  padding: 10px;
  text-align: center;
  color: white;
}

section {
    padding: 50px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  flex-wrap: wrap;
  font-size: 25px;;
}

.menu div {
  background-color: darkgreen;
  font-size: larger;
  color: white;
  padding: 15px;
  border-style: solid ;
}

.menu a {
  text-decoration: none;
}

.menu div:hover {
  background-color: yellowgreen;
  border-style: solid ;
}

.images div img {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images div {
  padding: 15px;
}